body{
    font-family: monospace;
}

:root {
    --color-dark-slate: #393E46;
    --color-slate: #929AAB;
    --color-light-gray: #EEEEEE;
    --color-off-white: #F7F7F7;
}

.bg-dark-slate { background-color: var(--color-dark-slate) !important; }
.bg-slate { background-color: var(--color-slate) !important; }
.bg-light-gray { background-color: var(--color-light-gray) !important; }
.bg-off-white { background-color: var(--color-off-white) !important; }

.text-dark-slate { color: var(--color-dark-slate) !important; }
.text-slate { color: var(--color-slate) !important; }
.text-light-gray { color: var(--color-light-gray) !important; }

.btn-slate {
    background-color: var(--color-slate);
    color: #fff;
    border: none;
}
.btn-slate:hover {
    background-color: var(--color-dark-slate);
    color: #fff;
}

.btn-off-white {
    background-color: var(--color-off-white);
    color: var(--color-dark-slate);
    border: none;
}
.btn-off-white:hover {
    background-color: var(--color-light-gray);
    color: var(--color-dark-slate);
}

.btn-dark-slate {
    border: var(--color-dark-slate) 2px solid;
    background-color: var(--color-dark-slate);
    color: #fff;
}
.btn-dark-slate:hover {
    border: var(--color-dark-slate) 2px solid;
    background-color: var(--color-light-gray);
    color: var(--color-dark-slate);
}

.btn-outline-dark-slate {
    border: var(--color-dark-slate) 2px solid;
    background-color: transparent;
    color: var(--color-dark-slate);
}
.btn-outline-dark-slate:hover {
    border: var(--color-dark-slate) 2px solid;
    background-color: var(--color-dark-slate);
    color: #fff;
}

.navbar-nav .nav-link {
    color: white;
    transition: all 0.3s ease;
    padding: 0.5rem 1.5rem !important;
    border-radius: 50rem;
}

.navbar-nav .nav-link.active {
    background-color: var(--color-light-gray) !important;
    color: var(--color-dark-slate) !important;
    font-weight: bold;
    box-shadow: 0 2px 6px rgba(0,0,0,0.08);
}

.navbar-nav .nav-link:hover:not(.active) {
    color: var(--color-off-white) !important;
    background-color: rgba(255, 255, 255, 0.1);
}