body {
  font-family: monospace;
}

.kiri{
    background-color: #FF7A30;
}

.kanan{
    background-color: white;
    border: 2px solid black;
}

.btn-style{
    border: 1px solid #465C88;
}
.btn-style:hover{
    border: 1px solid #465C88;  
    background-color: #465C88;
    color: white;
}

